<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:instagram="http://typo3.org/ns/SaschaSchieferdecker/Instagram/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<div class="c-socialwall">
	<div class="c-socialwall">
		<f:for each="{feedposts}" as="post" iteration="iteration">
			<f:if condition="{iteration.cycle} <= {settings.limit}">
				<div class="c-socialwall__item c-socialwall__item--instagram">
					<f:link.external uri="{post.url}" title="Instagram profile {settings.username}" target="_blank" rel="noopener">
						<f:if condition="{post.videoUrl}">
							<f:then>
								<div class="video-weapper">
								<video src="/typo3temp/assets/tx_instagram/{post.id}.mp4"
									   width="500" height="500" preload="none"
									   style="height: 500px"
									   autoplay muted>
								</video>
								</div>
							</f:then>
							<f:else>
								<instagram:isLocalImageExisting id="{post.id}">
									<f:then>
										<picture>
											<source srcset="{f:uri.image(src:'/typo3temp/assets/tx_instagram/{post.id}.jpg', width:'500c', height:'500c', fileExtension: 'jpg')}" type="image/jpeg">
											<img
												src="{f:uri.image(src:'/typo3temp/assets/tx_instagram/{post.id}.jpg', width:'500c', height:'500c')}"
												title="{post.caption -> f:format.crop(maxCharacters: 120, append: ' ...')}"
												alt="{post.caption -> f:format.crop(maxCharacters: 120, append: ' ...')}"
												loading="lazy" />
										</picture>
									</f:then>
									<f:else>
										<f:comment>
											If image is not available on the local machine (for any reasons), load from instagram directly
										</f:comment>
										<img
											src="{post.displayUrl}"
											title="{post.caption -> f:format.crop(maxCharacters: 120, append: ' ...')}"
											alt="{post.caption -> f:format.crop(maxCharacters: 120, append: ' ...')}"
											width="500"
											height="500" />
									</f:else>
								</instagram:isLocalImageExisting>
							</f:else>
						</f:if>
						<p>{post.caption}</p>
					</f:link.external>
				</div>
			</f:if>
		</f:for>
	</div>
</div>

</html>
